.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(80,50px);
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
}
.nav {
    grid-row: 1;
    grid-column: 1 / span 6;
    background-color: #474E5D;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #474E5D;
}

li {
    float: right;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

.active {
    background-color: #4CAF50;
}
.container1 {
    display: flex;
    justify-content: flex-start;
    grid-row: 2 / span 4;
    grid-column: 1 / span 4;
    /*background-color: pink;*/
    background-image: url('images/image10.jpg');
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.container2 {
    display: flex;
    justify-content: flex-start;
    grid-row: 2 / span 4;
    grid-column: 5 / span 6;
    /*background-color:#474E5D*/
    background-image: url('images/image4.jpg');
    background-size: cover;
}

.container3 {
    grid-row: 6 / span 2;
    grid-column: 1 / span 6;
    background-color: #474E5D;
    position: relative;
    text-align: center;
    color: white;
}
.container4 {
    grid-row: 8 / span 6;
    grid-column: 1 / span 6;
    background-color: white;
    float:right;
    position: relative;
    text-align: left;
    color: grey;
}
.container5 {
    grid-row: 14 / span 6;
    grid-column: 1 / span 6;
    background-color: #474E5D;
    float:left;
    position: relative;
    text-align: right;
    color: white;
}
.container6 {
    grid-row: 20 / span 6;
    grid-column: 1 / span 6;
    background-color: white;
    position: relative;
    text-align: left;
    color: grey;
}
.container7 {
    grid-row: 26 / span 2;
    grid-column: 1 / span 6;
    background-color: #474E5D;
    position: relative;
    text-align: center;
    color: white;
}
.container8 {
    grid-row: 28 / span 14;
    grid-column: 1 / span 6;
    background-color: aqua;
}
.container9 {
    grid-row: 42 / span 2;
    grid-column: 1 / span 6;
    background-color: #474E5D;
    position: relative;
    text-align: center;
    color: white;
}
.container10 {
    grid-row: 44 / span 4;
    grid-column: 1 / span 6;
    background-color: purple;
}
.container11 {
    grid-row: 48 / span 2;
    grid-column: 1 / span 6;
    background-color: #474E5D;
    position: relative;
    text-align: center;
    color: white;
}
.container12 {
    grid-row: 50 / span 5;
    grid-column: 1 / span 6;
    background-color: orangered;
}
.container13 {
    grid-row: 55 / span 4;
    grid-column: 1 / span 6;
    background-color: #474E5D;
    position: relative;
    text-align: center;
    color: white;
}


