.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(80,50px);
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
}
.nav{
    grid-row:1;
    grid-column: 1 / span 6;
    background-color:yellow;
}
.container1 {
    display:flex;
    justify-content:flex-start;
    grid-row: 2 / span 5;
    grid-column: 1 / span 4;
    /*background-color: pink;*/
    background-image:url('images/image10.jpg');
}

.container2 {
    display: flex;
    justify-content: flex-start;
    grid-row: 2 / span 5;
    grid-column: 5 / span 6;
    /*background-color:#474E5D*/
    background-image: url('images/image4.jpg');
}

.container3 {
    grid-row: 6 / span 2;
    grid-column: 1 / span 6;
    background-color: #474E5D;
}
.container4 {
    grid-row: 8 / span 6;
    grid-column: 1 / span 6;
    background-color: green;
}
.container5 {
    grid-row: 14 / span 6;
    grid-column: 1 / span 6;
    background-color: red;
}
.container6 {
    grid-row: 20 / span 6;
    grid-column: 1 / span 6;
    background-color: indigo;
}
.container7 {
    grid-row: 26 / span 2;
    grid-column: 1 / span 6;
    background-color: #474E5D;
}
.container8 {
    grid-row: 28 / span 14;
    grid-column: 1 / span 6;
    background-color: aqua;
}
.container9 {
    grid-row: 42 / span 2;
    grid-column: 1 / span 6;
    background-color: #474E5D;
}
.container10 {
    grid-row: 44 / span 4;
    grid-column: 1 / span 6;
    background-color: purple;
}
.container11 {
    grid-row: 48 / span 2;
    grid-column: 1 / span 6;
    background-color: #474E5D;
}
.container12 {
    grid-row: 50 / span 5;
    grid-column: 1 / span 6;
    background-color: orangered;
}
.container13 {
    grid-row: 55 / span 4;
    grid-column: 1 / span 6;
    background-color: blue;
}


